body {
background-color: black;
}

.container {

    min-height: 12.875rem;
    min-width: 35.5rem;
    padding-block: 8rem 3.75rem;
    display: flex;
    justify-content: center;

}

.main {
    background-position: center;
    max-width: 31rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(192, 232, 255);
    padding: 5px;
    border-radius: 10px;
}
.main2 {
    background-color: rgb(192, 255, 192);
}

h2 {
    font-family: cursive;
    font-size: 2rem;
    line-height: 2rem;
    letter-spacing: 0.25rem;
    text-shadow: 0 0 0.1rem rgb(255, 255, 255);
}


form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1.5rem 3rem;
}


.inputs {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.inputs div {
    display: flex;
    flex-direction: column;
}

.inputs input, select {
    line-height: 2rem;
    width: 20rem;
    border: solid 1px black;
    border-radius: 0.5rem;
    padding: 0 0.25rem;
    background: none;
}

button {
    border: solid 1px black;
    border-radius: 0.5rem;
    line-height: 2rem;  
    background-color: rgba(0, 0, 0, 0.4);
    color: rgb(255, 255, 255);
}

button:hover {
    background-color: rgba(255, 255, 255, 0.4);
    cursor: pointer;
    color: black;
}

.click-here {
    font-size: 0.9rem;
    font-weight: bolder;
}

.click-here a {
    font-size: 0.90rem;
    text-decoration: none;
    text-shadow: 0.05rem 0.05rem 0.05rem rgb(255, 255, 255);
}

.click-here a:hover {
    font-size: 1rem;
    text-shadow: 0.05rem 0.05rem 0.075rem rgb(255, 255, 255);
}

select {
    line-height: 30px;
    height: 30px;
    font-size: 18px;
    background-color: rgb(192, 255, 234);
}
select:hover {
    cursor: pointer;
}